//Generale
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//Header
#header{
    #header-box{
        background-color: white;
        position: fixed;
        top: 0;
        width: 100%;
        max-height: 274px;
        z-index: 1000;
        transition: top 0.3s ease-in-out;
        

        #logo{
            height: 217px;
            padding: 19px 16px 0px 16px;
        }

        #navbar{
            height: 57px;
            padding: 20px 18px;
            display: flex;

            .col-7{
                display: flex;
                justify-content: end;

                #icons{
                    width: 135px;
                    display: flex;
                    justify-content: space-between;

                    i:hover{
                        cursor: pointer;
                    }
                }
            }

            
        }
    }
}


#content{
    margin-top: 280px;
}

