//Generale
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//Header
#header{
    background-color: red;
    height: 200px;

    #header-box{
        width: 100%;
        height: 100%;
        background-color: blue;

        #logo{
            height: 140px;
            background-color: green;
            animation: scrolling linear;
            animation-timeline: scroll();
        }

        #navbar{
            height: 60px;
            background-color: aqua;
        }
    }
}

@keyframes scrolling{
    to{height: 0px;}
}


//Content
#content{
    height: 100vh;
}