//Generale
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//Header
#header{
    #header-box{
        background-color: blue;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        transition: top 0.3s ease-in-out;

        #logo{
            height: 140px;
            background-color: green;

        }

        #navbar{
            height: 60px;
            background-color: aqua;
        }
    }
}


#content{
    margin-top: 230px;
}

