//Generale
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//Header
#header{
    #header-box{
        background-color: white;
        position: fixed;
        top: 0;
        width: 100%;
        max-height: 274px;
        z-index: 1000;
        transition: top 0.3s ease-in-out;
        border-bottom: 1px solid lightgray;

        #logo{
            height: 217px;
            padding: 19px 16px 0px 16px;
        }

        #navbar{
            height: 57px;
            padding: 20px 18px;
            display: flex;

            .col-5{
                position: relative;

                .hidden-image{
                    width: 147px;
                    height: 25px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transition: opacity 0.5s ease;
                }
            }

            .col-7{
                display: flex;
                justify-content: end;

                #icons{
                    width: 135px;
                    display: flex;
                    justify-content: space-between;

                    i:hover{
                        cursor: pointer;
                    }
                }
            }
        }

        #menu-container{
            width: 385px;
            position: absolute;
            top: 274;
            right: 0;
            background-color: white;
            overflow: auto;
            border-left: 1px solid lightgray;

            ul{
                list-style: none;

                li{
                    margin: 25px 0;
                }
            }
        }
    }
}


#content{
    margin-top: 280px;
}

