<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    
    <section id="header-box">
        <div id="logo">
            <img src="https://www.miumiu.com/content/dam/miumiunux/MiuMiuNUXlogo.svg" alt="logo" title="logo">
        </div>
        <div id="navbar">BARRA</div>
    </section>

</body>
</html>